* {
  text-transform: lowercase;
  color: #303030;
  font-family: 'Open Sans', sans-serif;
}

* a:link, a:visited {
  text-decoration: none;
}

* a:hover {
  color: #9cf;
}

body {
  background-color: #FAFAFA;
}

.container {
  margin: 80px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.welcome img {
  max-width: 100%;
  height: auto;
  -webkit-filter: grayscale(77%);
  filter: grayscale(77%);
  position: relative;
}

.welcome_content {
  position: absolute;
  left: 20%;
  top: 17%;
  color: white;
  text-shadow: 1px 1px gray;
}

.welcome h1 {
  font-size: 100px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.welcome .add_tag_button {
  color: white;
  font-size: 14px;
}

.welcome input {
  width: 600px;
  height: 30px;
}

.welcome select {
  display: block;
  width: 170px;
  margin: 10px 0;
}

button {
  background-color: Transparent;
  padding: 5px 8px;
  border: 2px solid white;
  color: white;
}

.welcome_victory {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.welcome_victory span {
/*  top: 440px;*/
  font-size: 30px;
  font-weight: normal;
  color: white;
  margin-top: 0px;
}

footer {
  height: 50px;
}
