.random_victories {
  text-align: center;
  padding: 70px;
}

.random_victories div {
  display: inline-block;
  width: 33%;
  margin-bottom: 55px;
  border-left: 1px solid #ccc;
}

.random_victories div:first-child {
  border-left: 0;
}

.random_victories span {
  font-size: 8px;
  font-family: "Courier New", Courier, monospace;
}

.random_victories h3 {
  margin-top: 20px;
  padding-bottom: 15px;
  font-size: 27px;
  font-family: Garmond;
}

.random_victories p {
  font-size: 20px;
}

.random_victories a {

}