<div class="container">
  Your small victories:
  <% @victories.each do |victory| %>
    <div class="individual_victories">
      <%= victory.title %>
      <p><%= victory.created_at %></p>
      <p>number of upvotes: <%= victory.votes.size %></p>
    </div>
  <% end %>
</div>
