<div class="container">
  <form action="/users/new" method="POST">
    <input type="text" name="user[first_name]" placeholder="first name">
    <input type="text" name="user[last_name]" placeholder="last name">
    <input type="text" name="user[username]" placeholder="username">
    <input type="text" name="user[email]" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="user[city]" placeholder="city">
    <input type="text" name="user[state]" placeholder="state">
    <input type="submit">
  </form>
</div>
