<div class="welcome">
  <img src="/landing-pic.jpg" alt='inspiration' />
  <h1>hi!</h1>
  <form>
    <input type="text" placeholder="enter your victory here.  hit enter to submit.">
  </form>
  <div class="welcome_victory"><%= @victory.title.downcase %> <br>- <span><%= @victory.created_at.strftime("%B %d") %></span></div>
</div>

<div class="random_victories">
  <table>
    <tr>
      <td>
      </td>
    </tr>
  </table>
</div>